   <!-- <div class="row">
        <%= form_for @search do |f| %>
            <div class="col-md-2">
                    <%= f.text_field :folio_or_description_or_brand_or_model_or_deflection_or_responsible_or_status_contains, size: '27' %>
            </div>
            <div class="col-md-2">
                <%= f.submit "Buscar", class: "btn btn-default" %><br>
            </div>
        <% end %>
        <br>
    </div> -->
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <h3>Equipos fuera de calibración</h3>
                <tr>
                    <th>Inventario</th>
                    <th>Descripción</th>
                    <th>Status</th>
                    <th></th>

                </tr>
                <% @devices_nok.each do |device| %>
                    <tr class="danger">
                        <td><%= device.folio %></td>
                        <td><%= device.description %></td>
                        <td><%= device.status %></td>
                        <td><%= link_to "Ver detalles", device %></td>
                    </tr>
                <% end %>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <h3>Calibración por vencer</h3>
                 <tr>
                    <th>Inventario</th>
                    <th>Descripción</th>
                    <th>Próxima calibración</th>
                    <th>Status</th>
                </tr>
                <% @devices_next.each do |device| %>
                    <tr>
                        <td><%= device.folio %></td>
                        <td><%= device.description %></td>
                        <td><%= device.next_calibration %></td>
                        <td><%= device.status %></td>
                    </tr>
                <% end %>

            </table>
        </div>
    </div>
    <table class="table table-striped">
      <h3>Tus equipos asignados</h3>
      <tr>
        <th>Inventario</th>
        <th>Descripción</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Última calibración</th>
        <th>Próxima calibración</th>
        <th>Observaciones</th>
        <th>Responsable</th>
        <th>Status</th>
     <% if current_user.id == 1 %>   
        <th>User</th>
     <% end %>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @devices.each do |device| %>
        <% case device.status %>
            <% when "NOK" %>
              <tr class="danger">
                <td><%= device.folio %></td>
                <td><%= device.description %></td>
                <td><%= device.brand %></td>
                <td><%= device.model %></td>
                <td><%= device.calibration_date %></td>
                <td><%= device.next_calibration %></td>
                <td><%= device.deflection %></td>
                <td><%= device.responsible %></td>
                <td><%= device.status %></td>
            <% if current_user.id == 1 %>   
                <td><%= device.user_id %></td>
            <% end %>
                <td><%= link_to 'Ver detalles', device %></td>
                <td><%= link_to 'Editar', edit_device_path(device) %></td>
                <td><%= link_to 'Borrar', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% when "Hasta su uso" %>
                <tr class="info">
                    <td><%= device.folio %></td>
                    <td><%= device.description %></td>
                    <td><%= device.brand %></td>
                    <td><%= device.model %></td>
                    <td><%= device.calibration_date %></td>
                    <td><%= device.next_calibration %></td>
                    <td><%= device.deflection %></td>
                    <td><%= device.responsible %></td>
                    <td><%= device.status %></td>
                <% if current_user.id == 1 %>   
                    <td><%= device.user_id %></td>
                <% end %>
                    <td><%= link_to 'Ver detalles', device %></td>
                    <td><%= link_to 'Editar', edit_device_path(device) %></td>
                    <td><%= link_to 'Borrar', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
            <% when "OK" %>
                <tr class="success">
                    <td><%= device.folio %></td>
                    <td><%= device.description %></td>
                    <td><%= device.brand %></td>
                    <td><%= device.model %></td>
                    <td><%= device.calibration_date %></td>
                    <td><%= device.next_calibration %></td>
                    <td><%= device.deflection %></td>
                    <td><%= device.responsible %></td>
                    <td><%= device.status %></td>
                <% if current_user.id == 1 %>   
                    <td><%= device.user_id %></td>
                <% end %>
                    <td><%= link_to 'Ver detalles', device %></td>
                    <td><%= link_to 'Editar', edit_device_path(device) %></td>
                    <td><%= link_to 'Borrar', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
            <% else %>
                <tr>
                    <td><%= device.folio %></td>
                    <td><%= device.description %></td>
                    <td><%= device.brand %></td>
                    <td><%= device.model %></td>
                    <td><%= device.calibration_date %></td>
                    <td><%= device.next_calibration %></td>
                    <td><%= device.deflection %></td>
                    <td><%= device.responsible %></td>
                    <td><%= device.status %></td>
                <% if current_user.id == 1 %>   
                    <td><%= device.user_id %></td>
                <% end %>
                    <td><%= link_to 'Ver detalles', device %></td>
                    <td><%= link_to 'Editar', edit_device_path(device) %></td>
                    <td><%= link_to 'Borrar', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
        <% end %>
    <% end %>
    </table>

    <br />
    <div class="col-md-3">
        <%= link_to 'Ver inventario', devices_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div class="col-md-3">
        <%= link_to 'Nuevo dispositvo', new_device_path, class: "btn btn-primary btn-lg" %>
    </div>