<div class="container"><p id="notice"><%= notice %></p>

<p>
  <b>Folio:</b>
  <%= @device.folio %>
</p>

<p>
  <b>Descripción:</b>
  <%= @device.description %>
</p>

<p>
  <b>Marca:</b>
  <%= @device.brand %>
</p>

<p>
  <b>Modelo:</b>
  <%= @device.model %>
</p>

<p>
  <b>Fecha de última calibración:</b>
  <%= @device.calibration_date %>
</p>

<p>
  <b>Fecha de próxima calibración:</b>
  <%= @device.next_calibration %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @device.deflection %>
</p>

<p>
  <b>Responsable:</b>
  <%= @device.responsible %>
</p>
<p>
  <b>Status de calibración:</b>
  <%= @device.status %>
</p>
<% if current_user.id == 1 %>
  <p>
    <b>User:</b>
    <%= @device.user_id %>
  </p>
<% end %>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
</div>