<%# add navigation links to this file %>
<ul class="nav navbar-nav navbar-right">
	<% if user_signed_in? %>
		<li><%= link_to "Sesion de #{current_user.email}", edit_user_registration_path %></li>
		<li><%= link_to 'Editar', edit_user_registration_path %> </li>
		<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
	<% else %>
		<li><%= link_to 'Regístrate', new_user_registration_path %></li>
		<li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
	<% end %>
</ul>